<launch>
  <!-- Combining IMU and encoder-->

    <!--node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
      <param name="output_frame" value="odom"/>
      <param name="freq" value="5.0"/>
      <param name="sensor_timeout" value="1.0"/>
      <param name="odom_used" value="true"/>
      <param name="imu_used" value="true"/>
      <param name="vo_used" value="false"/>
      <param name="debug" value="false"/>
      <param name="self_diagnose" value="false"/>
      <remap from="odom" to="odom_rf2o"/>
    </node-->

<!-- Laser to odom-->
       <!--node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry" output="screen"-->
         <!--param name="laser_scan_topic" value="/laser_scan"/-->        # topic where the lidar scans are being published
         <!--param name="odom_topic" value="/odom_rf2o" />              # topic where tu publish the odometry estimations
         <param name="publish_tf" value="true" />                   # wheter or not to publish the tf::transform (base->odom)
         <param name="base_frame_id" value="/base_footprint"/>            # frame_id (tf) of the mobile robot base. A tf transform from the laser_frame to the base_frame is mandatory
         <param name="odom_frame_id" value="/odom" />                # frame_id (tf) to publish the odometry estimations
          <param name="init_pose_from_topic" value="" />  #param name="init_pose_from_topic" value="/base_pose_ground_truth" /> # (Odom topic) Leave empty to start at point (0,0)
         <param name="freq" value="5.0"/>                            # Execution frequency.
         <param name="verbose" value="true" />                       # verbose

       </node-->

<!-- Pose publisher-->
<!--node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher"/-->

<!-- Run map server -->
<node pkg="map_server" type="map_server" name="map_server" args="$(find mo2bot_control)/maps/cpd.yaml"/>

<!-- Localisation -->
<node pkg="amcl" type="amcl" name="amcl" >
 	<param name="odom_model_type"           value="diff"/>
        <param name="odom_alpha5"               value="0.1"/>
        <param name="gui_publish_rate"          value="1.0"/>
        <param name="laser_max_beams"           value="200"/>
        <param name="laser_max_range"           value="-1.0"/>
        <param name="min_particles"             value="50"/>
        <param name="max_particles"             value="5000"/>
        <param name="kld_err"                   value="0.05"/>
        <param name="kld_z"                     value="0.99"/>
        <param name="odom_alpha1"               value="0.2"/>
        <param name="odom_alpha2"               value="0.2"/>

        <param name="odom_alpha3"               value="0.2"/>
        <param name="odom_alpha4"               value="0.2"/>
        <param name="laser_z_hit"               value="0.5"/>
        <param name="laser_z_short"             value="0.05"/>
        <param name="laser_z_max"               value="0.05"/>
        <param name="laser_z_rand"              value="0.5"/>
        <param name="laser_sigma_hit"           value="0.2"/>
        <param name="laser_lambda_short"        value="0.1"/>
        <param name="laser_model_type"          value="likelihood_field"/>

        <param name="laser_likelihood_max_dist" value="20.0"/>
        <param name="update_min_d"              value="0.5"/>
        <param name="update_min_a"              value="0.05"/>
        <param name="odom_frame_id"             value="odom"/>
        <param name="base_frame_id"             value="base_footprint"/>
        <param name="resample_interval"         value="1"/>

        <param name="transform_tolerance"       value="0.1"/>
        <param name="recovery_alpha_slow"       value="0.001"/>
        <param name="recovery_alpha_fast"       value="1"/>
        <remap from="scan" to="laser_scan"/>
</node>

<!-- Navigation -->
<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find mo2bot_control)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mo2bot_control)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mo2bot_control)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mo2bot_control)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mo2bot_control)/config/base_local_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="conservative_reset_dist" type="double" value="0.10" />
    <param name="recovery_behavior_enabled" type="bool" value="false" />
    <param name="clearing_rotation_allowed" type="bool" value="false" />
    <param name="planner_patience" type="double" value="60.0" />
    <param name="controller_patience" type="double" value="60.0" />
    <param name="controller_frequency" type="double" value="5.0" />

</node>


</launch>
