<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mo2bot_gazebo)/worlds/cpd.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


  <param name="robot_description" command="xacro --inorder '$(find mo2bot_description)/urdf/mo2bot.xacro'"/>
  
  <node name="mo2bot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -param robot_description -model mo2bot -x 5.0 -z 0.5" />  <!-- z arg is height offset from gnd-->

    <!--Publish the TF-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="false" output="screen">
    </node>
    
    <!--Rviz-->
    <node name="rviz" pkg="rviz" type="rviz"/>

    <!-- Transform base_link to base_footprint-->
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.42 0 0 0 /base_footprint /base_link 100"/>

    <!-- Merge stereo camera images-->
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" ns="zed_cam" >
    </node>

    <node pkg="image_publisher" type="image_publisher" name="image_publisher"
      args="$(find mo2bot_description)/a.png" >
      <param name="flip_horizontal" value="false" />
      <param name="flip_vertical" value="false" />
      <!--param name="frame_id" value="my_camera" /-->
      <param name="publish_rate" value="1" />
      <remap from="image_publisher/image_raw" to="lcd_img"/>
    </node>

  </launch>
